/*
 * From Bootstrap examples.
 */

html {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.list-group {
    height: calc(100vh - 250px);
    overflow: scroll;
    border: #555555 1px solid;
    -webkit-overflow-scrolling: touch;
}

.container {
    position: relative;
    height: 100%;
    max-width: 680px;
}

/* Render all as 32px squares with 1em padding */
.site-favicon {
    width: 32px;
    height: 32px;
    margin-right: 1em;
}
