<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
        <title>{{ user }}'s Bookmarks</title>
    </head>
    <body>
        <main role="main" class="container">
        <h1 class="mt-5">{{ user }}'s Bookmarks</h1>
        <p class="lead">List of bookmarks</p>
        <ul class="list-group">
            {% for bookmark in bookmarks -%}
            <li class="list-group-item">
                <div class="favicon-wrapper">
                    {%- if bookmark.favicon -%}
                    <img class="site-favicon" src="{{ bookmark.favicon }}" />
                    {%- else -%}
                    <img class="site-favicon" src="/static/white.svg" />
                    {%- endif -%}
                </div>
                <a target="_blank" href="{{ bookmark.url }}">{{ bookmark.desc }}</a>
            </li>
            {% endfor -%}
        </ul>
        </main>
    </body>
</html>
